<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.puxinxiaolin.adopt.mapper.StoryMapper">

    <!-- 增加浏览次数 -->
    <update id="incrementViewCount">
        UPDATE t_story 
        SET views = views + #{increment} 
        WHERE id = #{id}
    </update>

    <!-- 增加点赞次数 -->
    <update id="incrementLikeCount">
        UPDATE t_story 
        SET likes = likes + #{increment} 
        WHERE id = #{id}
    </update>

    <!-- 增加收藏次数 -->
    <update id="incrementFavoriteCount">
        UPDATE t_story 
        SET favorite_count = favorite_count + #{increment} 
        WHERE id = #{id}
    </update>

</mapper>
